<app-header></app-header>
<div *ngIf="product$ | async as product" class="product-details-container">
  <div class="product-image">
    <img src="{{ product.image }}" />
  </div>
  <div class="product-details">
    <h1>{{ product.title }}</h1>
    <div class="rating-container">
      <div class="rating">
        <span>{{ product.rating.rate }}</span>
        <i class="fa-solid fa-star"></i>
      </div>
      <span class="count">({{ product.rating.count }})</span>
    </div>
    <div class="price">Price: {{ product.price }}</div>
    <app-add-to-cart [disabled]="!isProductPurchasable(product)" />
    <app-stock-status [stock]="getStock(product)" />
    <div class="description">{{ product.description }}</div>
  </div>
</div>

<div class="customer-reviews" *ngIf="product$ | async as product">
  <h2>Customer reviews:</h2>

  <div *ngIf="(reviews$ | async) as reviews">
    <div *ngIf="reviews.length > 0; else noReviews">
      <div class="review-item" *ngFor="let review of reviews">
        <div class="review-author">
          <img src="https://via.placeholder.com/40" alt="Reviewer Avatar" />
          <span>{{ review.name }}</span>
        </div>

        <div class="review-content">
          <div class="review-rating">
            <span>{{ review.rate }}</span>
            <i class="fa-solid fa-star"></i>
          </div>
          <div class="review-text">{{ review.text }}</div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noReviews>
    <p class="no-reviews">No reviews yet</p>
  </ng-template>
</div>
